# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/app/components/top-nav-menu/top-nav-menu.component_prev.html
src/app/components/annotation-tools/stamp-panel/old/stamp-panel.component.html
src/app/components/annotation-tools/stamp-panel/old/stamp-panel.component.scss
src/app/components/annotation-tools/stamp-panel/old/stamp-panel.component.ts
config.bat
temp_auto_push.bat
temp_interactive_push.bat
